.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.item {
  width: 30%;
  height: 30%;
  margin: 1%;
  padding: 0.5%;
  background-color: white;
  border-radius: 3%;
}
